:root{
    --bg-primary: #f4f4f4;
    --text-primary: #201f1f;
    --bg-button: #333;
    --text-btn: #f4f4f4;
}

body{
    margin : 0;
    background-color: var(--bg-primary);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100dvh;
}

h1{
    color: var(--text-primary);
}

p{
    color: var(--text-primary);
}

button{
    background-color: var(--bg-button);
    color: var(--text-btn);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
}